{{ lookup('env', 'API_HOST') }} {
    # route /admin/* {
    #     uri strip_prefix /admin
    #     root * /home/app/elm-admin
    #     file_server
    #     try_files {path} index.html
    # }

    route /v1/* {
        reverse_proxy {{ lookup('env', 'PORT') }}
    }

    tls {
        dns digitalocean {{ lookup('env', 'DO_DNS_TOKEN') }}

        # ... solving challenges: presenting for challenge: could not determine zone for
        # domain \"_acme-challenge.aaa.aaaaaaaa.aaa\": unexpected response code 'SERVFAIL'
        # for _acme-challenge.aaa.aaaaaaaa.aaa.

        # Tailscale DNS doesn't work with Lets Encrypt?

        resolvers 8.8.8.8 8.8.4.4

    }
}
