[Unit]
Description=Carlo Comments Service
After=network.target

[Service]
ExecStart=/home/app/carlo-comments-linux-amd64
User=app
Group=app
Environment=SQLITE_PATH=/home/app/comments.db
Environment=LOG_DIRECTORY=/home/app/logs
Environment=PORT={{ lookup('env', 'PORT') }}
Environment=HMAC_SECRET={{ lookup('env', 'HMAC_SECRET') }}
Environment=COMMENT_HOST={{ lookup('env', 'COMMENT_HOST') }}
Environment=ADMIN_USER={{ lookup('env', 'ADMIN_USER') }}
Environment=ADMIN_PASS={{ lookup('env', 'ADMIN_PASS') }}
Restart=always
RestartSec=10

[Install]
WantedBy=default.target