server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /home/app/promtail/positions.yaml

clients:
  - url: {{ lookup('env', 'LOKI_URL') }}
    basic_auth:
      username: {{ lookup('env', 'LOKI_USER') }}
      password: {{ lookup('env', 'LOKI_API_TOKEN') }}

scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: carlo-comments-api
          __path__: /home/app/logs/*.log

  - job_name: systemd
    journal:
      max_age: 12h
      labels:
        job: systemd-journal
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'